#About{
    width: 80%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin: auto;

}
#About-info{
width: 35rem;
}
#btn-About{
    background-color: transparent;
    color: inherit;
    border: none;
    border: 0.3rem solid black;
    padding: 0.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}